.btn {
  font-size: 18px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
  padding: 20px 120px 20px 120px;
  background-image: linear-gradient(to right, #ea7400 0%, #f29400 100%);
  transition: .7s;

  &:hover{
    background-image: linear-gradient(to right, #ff7f00 0%, #ff9d00 100%);
  }
}