.hero {
  position: relative;
  padding-top: 65px;
}

.hero__content {
  display: flex;
  @include centered('both');
}

.hero__description {
  margin-right: 60px; 
  font-size: 18px;
  font-weight: 400;
  opacity: 0.4;
  color: $text-color;
  text-align: right;
}

.hero__description-text {
  display: block;
}

.hero__title{
  color: $text-color;
  font-family: "Open Sans - Extrabold";
  font-size: 72px;
  font-weight: 700;
}