.navigation__list {
  display: flex;
}

.navigation__item {
  margin-right: 62px;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    color: $hover-color;
    border-bottom: 3px solid $hover-color;
    padding-bottom: 10px;
    /* line-height: 2; */
  }
}