.skills-vidget__list {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.slills-vidget__item-row {
  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 0;
  }
}

.skills-vidget__section-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 38px;
}

.skills-vidget__section-list {
  display: flex;
}

.skills-vidget__section-item {
  margin-right: 45px;

  &:last-child {
    margin-right: 0;
  }
}