.socials__list {
  display: flex;
}

.socials__icon {
  fill: $text-color;
  opacity: 0.3;
  margin-right: 40px;

  &:hover {
    fill: $hover-color;
    opacity: 1;
  }

  &--insta {
    width: 25px;
    height: 25px;
  }

  &--vk {
    width: 25px;
    height: 19px;
  }

  &--github {
    width: 27px;
    height: 23px;
  }
}