-
  var comments = [
    {
      "name": "Ковальчук Дмитрий",
      "job": "Основатель Loftschool",
      "text": "Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!",
      "photo": "content/comments/dmitriy.png"
    }, {
      "name": "Владимир Сабанцев",
      "job": "Преподаватель",
      "text": "Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах",
      "photo": "content/comments/vladimir.png"
    }
  ]

.section.comments#comments
  .container
    .comments__content
      //- .comments__slider
      //- include slider_comments
      #comments__slider



  