.section.skills#skills
  .container.skills__container
    .skills__description
      h3.skills__title Чем я могу быть полезен вам
      p.skills__description-text Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
    .skills__vidget
      #skills-component



