.section.fullscreen-section.hero#hero
  .container
    .hero__header
      include header

    .hero__content
      .hero__description
        p.hero__description-text Личный сайт
        p.hero__description-text веб разработчика
      .hero__name
        h1.hero__title Артём
        h1.hero__title Хотинец

    .hero__scroll
      include scroll