-var navigation_items = ["Главная", "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"]

nav.navigation
  ul.navigation__list
    each item in navigation_items
      .navigation__item
        a.navigation__link(href="#")= item
