-
  var previewsPath = [
    'content/preview/1.jpg',
    'content/preview/2.jpg',
    'content/preview/3.jpg',
    'content/preview/4.jpg',
    'content/preview/5.jpg'
  ]

.section.preview#preview
  .container
    h2.preview__title Мои работы
    .preview__slider
      .preview__display 
        .preview__content
          .preview__pic
            +image(previewsPath[0], "preview__img", "preview_picture")
        ul.preview__list
          each item in previewsPath
            li.preview__item
              a.preview__link
                +image(item, "preview__img", "preview_picture")
        .preview__slider-arrows
          button(class="preview__slider-arrow previewslider-arrow--right")
            +icon('arrow-down', 'arrow arrow--right')
          button(class="preview__slider-arrow previewslider-arrow--left")
            +icon('arrow-down', 'arrow arrow--left')
      .preview__description
        - var previewSkills = ['HTML', 'CSS', 'Javascript']
        ul.preview__skills-list
          each skill in previewSkills
            li.preview__skills-item= skill
        h3.preview__info-title Сайт школы образования
        .preview__info-text
          p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
        a.preview__info-link(href="#") Посмотреть сайт



