.slider_comments
  .slider_comments__head
      .slider_comments__title Что обо мне говорят
      .slider_comments__controls
        a(class="slider_comments__arrow slider_comments__arrow--prev")
        a(class="slider_comments__arrow slider_comments__arrow--next")
  .slider_comments__slider
    ul.slider_comments__list
      each comment in comments
        li.slider_comments__item
          include comment